@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700;800&family=Open+Sans:wght@400;500;600;700;800&family=Roboto+Condensed:wght@400;700&family=Roboto:wght@400;500;700;900&display=swap");
@import url(../base/_common.scss);
@import url(../base/_fonts.scss);
header {
  width: 100%;
  height: 1000px;
  background-color: #bb2339;
  padding: 10px 150px;
  overflow: hidden;
}
header .container-fluid {
  max-width: 1250px;
  height: 100px;
}
header .navbar {
  width: 100%;
  height: 100px;
  margin: 0 auto;
  overflow: hidden;
  background-color: #bb2339;
  position: fixed;
  top: 0;
  width: 100%;
  right: 0;
  left: 0;
  z-index: 3;
}
header .header__container {
  width: 100%;
  height: 700px;
  margin: 0 auto;
  margin-bottom: 150px;
}
header .header__container ul li a {
  color: #fff;
}
header .header__container .btn {
  width: 131px;
  height: 48px;
  background-color: transparent;
  border: 1px solid #fff;
  border-radius: 100px;
  transition: 0.4s;
}
header .header__container .btn a {
  color: #fff;
  text-decoration: none;
}
header .header__container .btn:hover {
  background-color: #fff;
}
header .header__container .btn:hover a {
  color: #bb2339;
}
header .header__container .modal-footer button a {
  color: dodgerblue;
  text-decoration: none;
}
header .header__container .header__bg--img img {
  animation-name: header__img;
  animation-duration: 60s;
  animation-iteration-count: infinite;
  animation-timing-function: ease;
  padding-left: 150px;
}
@keyframes header__img {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
@media (max-width: 992px) {
  header .header__container .header__bg--img img {
    width: 400px;
    height: 300px;
    display: block;
    height: auto;
    text-align: center;
    align-items: center;
    margin-bottom: -200px;
  }
}
header .header__container .header__content {
  max-width: 1200px;
  display: flex;
  align-items: center;
  margin: 0 auto;
  margin-top: 200px;
}
@media (max-width: 992px) {
  header .header__container .header__content {
    max-width: 100%;
    gap: 100px;
    display: flex;
    flex-direction: column;
    text-align: center;
  }
}
header .header__container .header__content .header__text {
  max-width: 555px;
  height: 457px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
@media (max-width: 992px) {
  header .header__container .header__content .header__text {
    max-width: 100%;
    display: flex;
    align-items: center;
    text-align: center;
    margin-bottom: 30px;
  }
}
header .header__container .header__content .header__text h6 {
  font-family: Cera Round Pro;
  font-size: 23px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0.04em;
  text-align: left;
  color: #fff;
}
@media (max-width: 992px) {
  header .header__container .header__content .header__text h6 {
    font-size: 16px;
    text-align: center;
  }
}
header .header__container .header__content .header__text h3 {
  width: 555px;
  font-family: Cera Round Pro;
  font-size: 90px;
  font-weight: 700;
  line-height: 117px;
  letter-spacing: 0.04em;
  text-align: left;
  color: #fff;
}
@media (max-width: 992px) {
  header .header__container .header__content .header__text h3 {
    font-size: 60px;
    line-height: 90px;
    text-align: center;
  }
}
header .header__container .header__content .header__text p {
  width: 433px;
  font-family: Open Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0.04em;
  text-align: left;
  margin: 15px 0;
  margin-bottom: 30px;
  color: #fff;
}
@media (max-width: 992px) {
  header .header__container .header__content .header__text p {
    font-size: 12px;
    max-width: 100%;
    text-align: center;
  }
}
header .header__container .header__content .header__text .btn {
  width: 173px;
  height: 44px;
  background-color: transparent;
  border: 1px solid #fff;
  border-radius: 100px;
  transition: 0.4s;
}
header .header__container .header__content .header__text .btn a {
  color: #fff;
  text-decoration: none;
}
header .header__container .header__content .header__text .btn:hover {
  background-color: #fff;
}
header .header__container .header__content .header__text .btn:hover a {
  color: #bb2339;
}
header #loading {
  position: fixed;
  background-color: white;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;
  transition: 0.5s;
}
header #loading.loading-none {
  opacity: 0;
  z-index: -1;
}
header body {
  background: #000;
}
header #load {
  position: absolute;
  width: 600px;
  height: 36px;
  left: 50%;
  top: 40%;
  margin-left: -300px;
  overflow: visible;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  cursor: default;
}
header #load div {
  position: absolute;
  width: 20px;
  height: 36px;
  opacity: 0;
  font-family: Helvetica, Arial, sans-serif;
  animation: move 2s linear infinite;
  -o-animation: move 2s linear infinite;
  -moz-animation: move 2s linear infinite;
  -webkit-animation: move 2s linear infinite;
  transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  color: #35c4f0;
}
header #load div:nth-child(2) {
  animation-delay: 0.2s;
  -o-animation-delay: 0.2s;
  -moz-animation-delay: 0.2s;
  -webkit-animation-delay: 0.2s;
}
header #load div:nth-child(3) {
  animation-delay: 0.4s;
  -o-animation-delay: 0.4s;
  -webkit-animation-delay: 0.4s;
  -webkit-animation-delay: 0.4s;
}
header #load div:nth-child(4) {
  animation-delay: 0.6s;
  -o-animation-delay: 0.6s;
  -moz-animation-delay: 0.6s;
  -webkit-animation-delay: 0.6s;
}
header #load div:nth-child(5) {
  animation-delay: 0.8s;
  -o-animation-delay: 0.8s;
  -moz-animation-delay: 0.8s;
  -webkit-animation-delay: 0.8s;
}
header #load div:nth-child(6) {
  animation-delay: 1s;
  -o-animation-delay: 1s;
  -moz-animation-delay: 1s;
  -webkit-animation-delay: 1s;
}
header #load div:nth-child(7) {
  animation-delay: 1.2s;
  -o-animation-delay: 1.2s;
  -moz-animation-delay: 1.2s;
  -webkit-animation-delay: 1.2s;
}
@keyframes move {
  0% {
    left: 0;
    opacity: 0;
  }
  35% {
    left: 41%;
    transform: rotate(0deg);
    opacity: 1;
  }
  65% {
    left: 59%;
    transform: rotate(0deg);
    opacity: 1;
  }
  100% {
    left: 100%;
    transform: rotate(-180deg);
    opacity: 0;
  }
}

.popular__dishes {
  width: 100%;
  height: 724px;
  background-color: #fff;
  padding: 10px 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  overflow: hidden;
}
.popular__dishes .popular__dishes__container {
  max-width: 1300px;
  margin: 0 auto;
}
.popular__dishes .popular__heading {
  width: 1447px;
  display: flex;
  justify-content: start;
  align-items: center;
  height: 50px;
  margin: 0 auto;
}
.popular__dishes .popular__heading h3 {
  max-width: 100%;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: end;
  color: #bb2339;
}

.menu {
  width: 100%;
  height: auto;
  margin: 0 auto;
  background-color: #fff;
  padding: 10px 150px;
}
.menu .menu__container {
  max-width: 1345px;
  height: 1300px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  overflow: hidden;
}
.menu .menu__container .tab__container {
  width: 100%;
  height: 50px;
}
.menu .menu__container .tab__container ul .nav-item button {
  transition: 0.4s;
  margin-top: 30px;
  margin-bottom: 20px;
  margin-left: 10px;
  padding: 0 20px;
  width: 140px;
  height: 48px;
  background-color: #fff;
  border: 1px solid #bb2339;
  border-radius: 100px;
  color: #bb2339;
}
.menu .menu__container .tab__container ul .nav-item button a {
  font-size: 10px;
}
.menu .menu__container .tab__container ul .nav-item button:hover {
  background-color: #bb2339;
  color: #fff;
}
.menu .menu__container #pills-home {
  display: flex;
  width: 100%;
  height: auto;
  flex-wrap: wrap;
  gap: 15px;
}
.menu .menu__container #pills-home .col {
  width: 310px;
  height: 366px;
  border: 1px solid rgba(0, 0, 0, 0.216);
  border-radius: 20px;
  padding: 10px 15px;
  text-align: center;
}
.menu .menu__container #pills-profile {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  gap: 15px;
  margin-top: 0;
  margin-top: -1130px;
}
.menu .menu__container #pills-profile .col {
  width: 310px;
  height: 366px;
  border: 1px solid rgba(0, 0, 0, 0.216);
  border-radius: 20px;
  padding: 10px 15px;
  text-align: center;
}
.menu .menu__container #pills-contact {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  gap: 15px;
  margin-top: 0;
  margin-top: -370px;
}
.menu .menu__container #pills-contact .col {
  width: 310px;
  height: 366px;
  border: 1px solid rgba(0, 0, 0, 0.216);
  border-radius: 20px;
  padding: 10px 15px;
  text-align: center;
}
.menu .menu__container .menu__heading {
  width: 100%;
  height: 50px;
}
.menu .menu__container .menu__heading h3 {
  color: #bb2339;
  font-family: Cera Round Pro;
  font-size: 48px;
  font-weight: 500;
  line-height: 48px;
  letter-spacing: 0.03em;
  text-align: left;
}
.menu .menu__container .menu__box {
  width: 100%;
  border: 1px solid rgb(0, 64, 255);
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  margin: 20px 0;
  justify-content: center;
}
.menu .menu__container .menu__box .tab-content {
  width: 100%;
  height: 1200px;
  border: 1px solid rgb(128, 0, 47);
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.menu .menu__container .menu__box .ap-tab-list {
  width: 1240px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
}
.menu .menu__container .menu__box button {
  transition: 0.4s;
  width: 150px;
  height: 50px;
  background-color: white;
  border: 1px solid #bb2339;
  border-radius: 100px;
}
.menu .menu__container .menu__box button a {
  font-family: Open Sans;
  font-size: 14px;
  font-weight: 600;
  line-height: 28px;
  letter-spacing: 0.05em;
  text-align: center;
  text-decoration: none;
  color: #000;
}
.menu .menu__container .menu__box button:hover {
  background-color: #bb2339;
}
.menu .menu__container .menu__box button:hover a {
  color: #fff;
}
.menu .menu__container .menu__box .active {
  width: 82px;
  height: 48px;
}
.menu .menu__container .menu__list {
  width: 100%;
  height: auto;
}
.menu .menu__container .menu__list .row {
  gap: 15px;
}
.menu .menu__container .menu__list .row .col {
  width: 240px;
  height: 366px;
  border: 1px solid rgb(199, 199, 204);
  text-align: center;
  border-radius: 10px;
  margin-top: 15px;
  cursor: pointer;
}
.menu .menu__container .menu__list .row .col h5 {
  margin: 20px 0;
}
@media (max-width: 992px) {
  .menu .menu__container .ap-tab-list {
    overflow-x: scroll;
  }
}

.tesmimony {
  width: 100%;
  height: 720px;
  background-color: #f4f4f4;
  margin: 0 auto;
  margin-top: 500px;
  text-align: center;
  padding: 0 70px;
}
.tesmimony .testimony__container {
  max-width: 1300px;
  margin: 0 auto;
}
.tesmimony .testimony__title {
  width: 418px;
  height: 117px;
  text-align: center;
  margin: 0 auto;
  padding-top: 100px;
  margin-bottom: 250px;
}
.tesmimony .item {
  width: 410px;
  height: 210px;
  padding: 20px 20px;
  background-color: #fff;
  border-radius: 10px;
}
.tesmimony .item h3 {
  text-align: left;
}
.tesmimony .item p {
  text-align: left;
}
.tesmimony .item .item__container {
  width: 215px;
  height: 16px;
  gap: 10px;
}
.tesmimony .item .item__container .data {
  width: 84px;
  height: 16px;
  display: flex;
  justify-content: space-between;
  gap: 8px;
}
.tesmimony .item .item__container .data p {
  font-size: 12px;
}
.tesmimony .item .item__container .clock {
  width: 50px;
  height: 16px;
  display: flex;
  gap: 8px;
}
.tesmimony .item .item__container .clock p {
  font-size: 12px;
}
.tesmimony .item .item__container .view {
  width: 50px;
  height: 16px;
  display: flex;
  gap: 8px;
}
.tesmimony .item .item__container .view p {
  font-size: 12px;
}

.news {
  width: 100%;
  padding: 200px 0;
  margin: 0 auto;
}
.news .news__container {
  max-width: 1330px;
  height: 855px;
  text-align: center;
  margin: 0 auto;
}
.news .news__container .news__title {
  width: 338px;
  height: 117px;
  margin: 0 auto;
  text-align: center;
}
.news .news__container .news__title h3 {
  color: #BB2339;
}
.news .news__container .news__card {
  max-width: 1300px;
  height: 678px;
  margin: 0 auto;
  margin-top: 50px;
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 20px;
  align-items: center;
}
.news .news__container .news__card .news__box {
  width: 410px;
  height: 584px;
  border: 2px solid rgba(170, 170, 170, 0.3607843137);
  border-radius: 15px;
}
.news .news__container .news__card .news__box h1 {
  text-transform: capitalize;
  margin: 10px;
  font-size: 24px;
}
.news .news__container .news__card .news__box p {
  color: #aaaaaa;
  margin: 10px;
}
.news .news__container .news__card .news__box .news__data {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 200px;
  padding: 0 10px;
}
.news .news__container .news__card .news__box .news__data a {
  color: #bb2339;
  text-decoration: none;
  font-size: 16px;
}
.news .news__container .news__btn button {
  transition: 0.4s;
  text-align: center;
  width: 149px;
  height: 44px;
  background-color: #fff;
  border: 1px solid #bb2339;
  border-radius: 100px;
}
.news .news__container .news__btn button:hover {
  background-color: #bb2339;
  color: #fff;
}

.vd__content {
  width: 100%;
  height: 763px;
  background-image: url(https://wallpaperaccess.com/full/3607618.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 150px;
}

.social {
  width: 100%;
  height: 705px;
  margin: 0 auto;
  margin-bottom: 500px;
  background-color: #f4f4f4;
  display: flex;
  align-items: center;
  justify-content: center;
}
.social .social__container {
  max-width: 1330px;
  height: 447px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
}
.social .social__container .social__title {
  width: 500px;
  height: 265px;
}
.social .social__container .social__title button {
  text-align: center;
  transition: 0.4s;
  width: 149px;
  height: 44px;
  background-color: transparent;
  border: 1px solid #bb2339;
  border-radius: 100px;
}
.social .social__container .social__title button:hover {
  background-color: #bb2339;
  color: #fff;
}
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-1750px);
  }
}
.social .social__container .slider {
  height: 447px;
  margin: auto;
  overflow: hidden;
  position: relative;
  width: 760px;
}
.social .social__container .slider::before, .social .social__container .slider::after {
  background: linear-gradient(to right, rgb(255, 255, 255) 0%, rgba(255, 255, 255, 0) 100%);
  height: 100px;
  position: absolute;
  width: 200px;
  z-index: 2;
}
.social .social__container .slider::after {
  right: 0;
  top: 0;
  transform: rotateZ(180deg);
}
.social .social__container .slider::before {
  left: 0;
  top: 0;
}
.social .social__container .slider .slide-track {
  animation: scroll 40s linear infinite;
  display: flex;
  width: 3500px;
}
.social .social__container .slider .slide {
  height: 100px;
  width: 250px;
  transition: 0.3s;
}
.social .social__container .slider .slide:hover {
  opacity: 0.3;
}

footer {
  position: relative;
  width: 100%;
  height: 710px;
  background-color: #bb2339;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
footer .subscribe {
  position: absolute;
  width: 1406px;
  height: 413px;
  background-color: #bb2339;
  margin: 0 auto;
  top: -200px;
  border-radius: 20px;
  box-shadow: 1px 7px 17px 2px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 1px 7px 17px 2px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 1px 7px 17px 2px rgba(0, 0, 0, 0.75);
  padding: 64px 252px;
}
footer .subscribe .subscribe__title {
  width: 902px;
  height: 169px;
  text-align: center;
}
footer .subscribe .subscribe__title p {
  color: #fff;
  font-size: 23px;
}
footer .subscribe .subscribe__title h3 {
  margin-top: 25px;
  margin-bottom: 35px;
  color: #fff;
  font-size: 48px;
}
footer .subscribe .subscribe__title h6 {
  color: #fff;
  font-size: 16px;
}
footer .subscribe .subscribe__register {
  width: 811px;
  height: 52px;
  margin: 0 auto;
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
footer .subscribe .subscribe__register input {
  width: 635px;
  height: 52px;
  border: 1px solid rgba(245, 239, 219, 0.5019607843);
  border-radius: 100px;
  outline: none;
  background-color: transparent;
  color: #fbf0f0;
  padding: 0 30px;
  font-size: 17px;
}
footer .subscribe .subscribe__register button {
  transition: 0.4s;
  color: #fff;
  width: 144px;
  height: 52px;
  background-color: transparent;
  border: 1px solid rgba(245, 239, 219, 0.5019607843);
  border-radius: 100px;
}
footer .subscribe .subscribe__register button:hover {
  color: #bb2339;
  background-color: #fbf0f0;
}
footer .footer {
  width: 1280px;
  height: 379px;
  margin-top: 250px;
}
footer .footer .row .col li {
  list-style-type: none;
  padding-top: 80px;
}
footer .footer .row .col li h3,
footer .footer .row .col li h6,
footer .footer .row .col li p {
  color: #fff;
  margin: 30px;
}
footer .footer .row .col li .footer__passage {
  padding-top: 60px;
}
footer .footer .row .col li .footer__social {
  width: 105px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
}
footer .footer ul {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
footer .footer ul li {
  width: 33%;
  height: 100%;
  border: 1px solid green;
  list-style-type: none;
}