@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700;800&family=Open+Sans:wght@400;500;600;700;800&family=Roboto+Condensed:wght@400;700&family=Roboto:wght@400;500;700;900&display=swap");
@import url(../base/_common.scss);
@import url(../base/_fonts.scss);
header {
  width: 100%;
  height: 100px;
  background-color: #bb2339;
  position: fixed;
  left: 0;
  right: 0;
  z-index: 3;
}
header .header__container {
  max-width: 1477px;
  margin: 0 auto;
  padding: 15px 0;
}
header .header__container .nav-item a {
  color: white;
  text-decoration: none;
}
header .header__container .nav-item a:hover {
  color: #000;
}
header .collapse form button {
  transition: 0.4s;
  width: 148px;
  height: 48px;
  border: 1px solid #fff;
  border-radius: 100px;
}
header .collapse form button a {
  text-decoration: none;
  color: #fff;
}
header .collapse form button:hover {
  background-color: #fff;
}
header .collapse form button:hover a {
  color: #bb2339;
}
header .modal-footer button a {
  color: dodgerblue;
  text-decoration: none;
}

.menu {
  width: 100%;
  padding-top: 150px;
  margin-bottom: 200px;
}
.menu .menu__container {
  max-width: 1406px;
  margin: 0 auto;
  display: flex;
  gap: 200px;
}
.menu .menu__container .menu__box {
  width: 100%;
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
}
.menu .menu__container .menu__box .nav {
  width: 428px;
  height: 844px;
  background-color: #bb2339;
  border-radius: 20px;
  padding: 45px 70px;
}
.menu .menu__container .menu__box .nav button {
  color: #fff;
  margin: 10px;
  width: 181px;
  height: 48px;
  background-color: #bb2339;
  border: 1px solid #fff;
  border-radius: 100px;
}
.menu .menu__container .menu__box .nav button:hover {
  color: #bb2339;
  background-color: #fff;
  border: 1px solid #bb2339;
}
.menu .menu__container .menu__box .nav .nav__heading {
  margin: 20px 0;
  color: #fff;
}
.menu .menu__container .menu__box .tab-content {
  max-width: 820px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.menu .menu__container .menu__box .tab-content .tab-pane {
  max-width: 400px;
  height: 368px;
  border: 1px solid #aaaaaa;
  padding: 20px 45px;
  text-align: center;
  border-radius: 12px;
  margin: 10px 0;
}
.menu .menu__container .menu__box .tab-content .tab-pane h3 {
  margin: 10px;
}
.menu .menu__container .menu__box .tab-content .tab-pane h5 {
  color: #bb2339;
  margin-top: 15px;
}

.social {
  width: 100%;
  height: 705px;
  margin: 0 auto;
  margin-bottom: 500px;
  background-color: #f4f4f4;
  display: flex;
  align-items: center;
  justify-content: center;
}
.social .social__container {
  max-width: 1330px;
  height: 447px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
}
.social .social__container .social__title {
  width: 500px;
  height: 265px;
}
.social .social__container .social__title button {
  text-align: center;
  transition: 0.4s;
  width: 149px;
  height: 44px;
  background-color: transparent;
  border: 1px solid #bb2339;
  border-radius: 100px;
}
.social .social__container .social__title button:hover {
  background-color: #bb2339;
  color: #fff;
}
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-1750px);
  }
}
.social .social__container .slider {
  height: 447px;
  margin: auto;
  overflow: hidden;
  position: relative;
  width: 760px;
}
.social .social__container .slider::before, .social .social__container .slider::after {
  background: linear-gradient(to right, rgb(255, 255, 255) 0%, rgba(255, 255, 255, 0) 100%);
  height: 100px;
  position: absolute;
  width: 200px;
  z-index: 2;
}
.social .social__container .slider::after {
  right: 0;
  top: 0;
  transform: rotateZ(180deg);
}
.social .social__container .slider::before {
  left: 0;
  top: 0;
}
.social .social__container .slider .slide-track {
  animation: scroll 40s linear infinite;
  display: flex;
  width: 3500px;
}
.social .social__container .slider .slide {
  height: 100px;
  width: 250px;
}

footer {
  position: relative;
  width: 100%;
  height: 710px;
  background-color: #bb2339;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
footer .subscribe {
  position: absolute;
  width: 1406px;
  height: 413px;
  background-color: #bb2339;
  margin: 0 auto;
  top: -200px;
  border-radius: 20px;
  box-shadow: 1px 7px 17px 2px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 1px 7px 17px 2px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 1px 7px 17px 2px rgba(0, 0, 0, 0.75);
  padding: 64px 252px;
}
footer .subscribe .subscribe__title {
  width: 902px;
  height: 169px;
  text-align: center;
}
footer .subscribe .subscribe__title p {
  color: #fff;
  font-size: 23px;
}
footer .subscribe .subscribe__title h3 {
  margin-top: 25px;
  margin-bottom: 35px;
  color: #fff;
  font-size: 48px;
}
footer .subscribe .subscribe__title h6 {
  color: #fff;
  font-size: 16px;
}
footer .subscribe .subscribe__register {
  width: 811px;
  height: 52px;
  margin: 0 auto;
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
footer .subscribe .subscribe__register input {
  width: 635px;
  height: 52px;
  border: 1px solid rgba(245, 239, 219, 0.5019607843);
  border-radius: 100px;
  outline: none;
  background-color: transparent;
  color: #fbf0f0;
  padding: 0 30px;
  font-size: 17px;
}
footer .subscribe .subscribe__register button {
  transition: 0.4s;
  color: #fff;
  width: 144px;
  height: 52px;
  background-color: transparent;
  border: 1px solid rgba(245, 239, 219, 0.5019607843);
  border-radius: 100px;
}
footer .subscribe .subscribe__register button:hover {
  color: #bb2339;
  background-color: #fbf0f0;
}
footer .footer {
  width: 1280px;
  height: 379px;
  margin-top: 250px;
}
footer .footer .row .col li {
  list-style-type: none;
  padding-top: 80px;
}
footer .footer .row .col li h3,
footer .footer .row .col li h6,
footer .footer .row .col li p {
  color: #fff;
  margin: 30px;
}
footer .footer .row .col li .footer__passage {
  padding-top: 60px;
}
footer .footer .row .col li .footer__social {
  width: 105px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
}
footer .footer ul {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
footer .footer ul li {
  width: 33%;
  height: 100%;
  border: 1px solid green;
  list-style-type: none;
}